a{
    text-decoration: none;
    color: #000;
}


/*PROFILE CSS -------------------------------------------------------------*/

.btn-bio {
    margin-bottom: 5em;
}

/*ITEMS CSS --------------------------------------------------------------*/

.items_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.items {
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    gap: 2vw;

}

.single-item{
    /*width: calc(25% - 3rem);*/
    margin: 0 0rem;
    padding: 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.item-preview-image {
  object-fit: scale-down;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.single-item:hover {
  transform: scale(1.05);
    color:black;
}

/*SIMILAR ITEMS CSS ----------------------------------------------------------*/
.similar_items_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 3rem;
    gap: 2vw;
}

/*CATEGORY CSS ------------------------------------------------------------*/

.category_name{
    font-size: 1.5rem;

}
.category_name:hover{
    background-color: #0ba6ff;
    color: white;
    /*font-size: 1.7rem;*/
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

/*NAVBAR CSS --------------------------------------------------------------*/

.search_bar_container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding: 0 2rem;*/
    padding-left:25px;
    padding-right:25px;
    margin: 0 auto;
    background: #F5FAFA;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.category-selector {
    display: flex;
}
    /*PAGES CSS ------------------------------------------------------------*!*/

.pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 33%;
    border-radius: 0.5rem;
    /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);*/
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.page_link{
    font-size: 1.5rem;
    color: black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


/*Bids CSS --------------------------------------------------------------*!*/

.single-item_bids {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0rem;
    padding: 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.bid-again-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: indianred;
}

.single-item_bids_image {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: scale-down;
}

.single-item_bids > .card-body{
    flex-grow:1;
}

/*LISTINGS CSS --------------------------------------------------------------*!*/

.single-item_listings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0rem;
    padding: 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.accept-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: #3eb058;
}

.single-item_listings_image {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: scale-down;
}

.single-item_listings > .card-body{
    flex-grow:1;

}


/*HOME PAGE CSS --------------------------------------------------------------*!*!*/
.category_div_home{
    display: flex;
    flex-direction: row;
    justify-content: center;
}