a{
    text-decoration: none;
    color: #000;
}

/*PROFILE CSS -------------------------------------------------------------*/

.btn-bio {
    margin-bottom: 5em;
}
.edit-profile-button_container {
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
    margin-top:25px

}

.edit_email-btn {
    width: 20px;
    height: auto;
    position: relative;
    left: 13rem;
    bottom: 4rem;
}

/*ITEMS CSS --------------------------------------------------------------*/

.items_header{
    display:flex;
    justify-content: space-between;
    margin-top: 2em;


}

.items_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.items {
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    gap: 2vw;

}

.single-item {
    /*width: calc(25% - 3rem);*/
    margin: 0 0rem;
    padding: 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.single-item_category_name{
    margin: 1px;
    color:#A9A9A9;
    padding:0.5rem;

}

.item-preview-image {
    object-fit: scale-down;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.single-item:hover {
    transform: scale(1.05);
    color:black;
}

.scrollable_items {
    width: 100%;
    height: 380px;
    overflow: auto;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: flex-start;
    gap: 2vw;
    scroll-behavior: smooth;
}

.scrollable_items a {
    margin: 1rem;
    padding: 0;
    display: inline-block;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.slider-btn {
    width: 4rem;
    height: auto;
    position: relative;
    bottom: 225px;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;

}

.slider-btn:hover {
    transform: scale(1.10);
    opacity: 1;
}

.button-right {
    float: right;
    right: 3px;
}

/*ITEM DETAILS CSS -------------------------------------------------------*/


.item-details_container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.carousel {
    width: 40em;
    height: auto;
}

.carousel img {
    width: 100%;
    max-height: 35em;
}

/*SIMILAR ITEMS CSS ----------------------------------------------------------*/
.similar_items_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 3rem;
    gap: 2vw;

}

.similar_items_container a {
    margin: 0 0rem;
    padding: 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/*CATEGORY CSS ------------------------------------------------------------*/

.category_list{
    margin-top:15px;
    background-color: #F8F8F8;
    border: 1px solid #E5E5E5;
    padding: 1rem;


}


.category_name{
    font-size: 1.5rem;

}
.category_name:hover{
    background-color: #0ba6ff;
    color: white;
    /*font-size: 1.7rem;*/
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;


}

/*NAVBAR CSS --------------------------------------------------------------*/

.search_bar_container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding: 0 2rem;*/
    padding-left:25px;
    padding-right:25px;
    margin: 0 auto;
    background: #F5FAFA;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.category-selector {
    display: flex;
}
    /*PAGES CSS ------------------------------------------------------------*!*/

.pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 33%;
    border-radius: 0.5rem;
    /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);*/
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.page_link{
    font-size: 1.5rem;
    color: black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


/*Bids CSS --------------------------------------------------------------*!*/

.single-item_bids {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0rem;
    padding: 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.bid-button-container{

    display: flex;
    flex-grow:2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);*/
    transition: all 0.3s ease-in-out;
    background: #f6d365;


    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,#FFFFFF , #FBBF77);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,#FFFFFF , #FBBF77);

}



.bid-price{
    line-height: 1.5rem;
}

.checkout-button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.checkout-button:hover {
  background-color: #3e8e41;
}

.bid-again-button{
  background-color: #4ac1f7; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.bid-again-button:hover{
  background-color: #447e9b; /* Green */
  color:white;
}


.single-item_bids_image {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: scale-down;
}

.single-item_bids > .card-body{
    flex-grow:1;
}

/*LISTINGS CSS --------------------------------------------------------------*!*/

.single-item_listings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0rem;
    padding: 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.accept-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: #3eb058;
}


.single-item_listings_image {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: scale-down;
}

.single-item_listings > .card-body{
    flex-grow:1;

}

.edit-button {
    background-color: #4ac1f7; /* Green */
    color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #4ac1f7;
    border-radius: 0.5rem;

    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
}




/*HOME PAGE CSS --------------------------------------------------------------*!*!*/
.category_div_home{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gradient-custom {
/* fallback for old browsers */
background: #f6d365;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}


/*ITEM DETAILS CSS --------------------------------------------------------------*!*!*!*/

.hedding {
    font-size: 20px;
    color: #ab8181;
}

.main-section {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 5%);
}

.left-side-product-box img {
    width: 100%;
}

.left-side-product-box .sub-img img {
    margin-top: 5px;
    width: 83px;
    height: 100px;
}

.right-side-pro-detail span {
    font-size: 15px;
}

.right-side-pro-detail p {
    font-size: 25px;
    color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
    color: #E45641;
}

.right-side-pro-detail .tag-section {
    font-size: 18px;
    color: #5D4C46;
}

.pro-box-section .pro-box img {
    width: 100%;
    height: 200px;
}

.seller-link {
    color: #0ba6ff;
}


/*CHECKOUT CSS --------------------------------------------------------------*!*!*!*!*/

.confirmation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0rem;
    padding: 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;

}

.confirm-button{
    align-items: center;
    background-color: #3eb058;
    color:white;
}


/*@media (min-width:360px) and (max-width:640px) {*/
/*    .pro-box-section .pro-box img {*/
/*        height: auto;*/
/*    }*/
/*}*/
