a{
    text-decoration: none;
    color: #000;
}


/*PROFILE CSS -------------------------------------------------------------*/

.btn-bio {
    margin-bottom: 5em;
}
.edit-profile-button_container {
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
    margin-top:25px

}


/*ITEMS CSS --------------------------------------------------------------*/

.items_header{
    display:flex;
    justify-content: space-between;
    margin-top: 2em;


}

.items_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.items {
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    gap: 2vw;

}

.single-item{
    /*width: calc(25% - 3rem);*/
    margin: 0 0rem;
    padding: 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.single-item_category_name{
    margin: 1px;
    color:#A9A9A9;
    padding:0.5rem;

}

.item-preview-image {
  object-fit: scale-down;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.single-item:hover {
  transform: scale(1.05);
    color:black;
}

/*ITEM DETAILS CSS -------------------------------------------------------*/


.item-details_container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.carousel {
    width: 40em;
    height: 35em;
}

.carousel img {
    max-width: 40em;
    max-height: 35em;
}

/*SIMILAR ITEMS CSS ----------------------------------------------------------*/
.similar_items_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 3rem;
    gap: 2vw;
}

/*CATEGORY CSS ------------------------------------------------------------*/

.category_list{
    margin-top:15px;
    background-color: #F8F8F8;
    border: 1px solid #E5E5E5;
    padding: 1rem;

}


.category_name{
    font-size: 1.5rem;

}
.category_name:hover{
    background-color: #0ba6ff;
    color: white;
    /*font-size: 1.7rem;*/
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;


}

/*NAVBAR CSS --------------------------------------------------------------*/

.search_bar_container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding: 0 2rem;*/
    padding-left:25px;
    padding-right:25px;
    margin: 0 auto;
    background: #F5FAFA;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.category-selector {
    display: flex;
}
    /*PAGES CSS ------------------------------------------------------------*!*/

.pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 33%;
    border-radius: 0.5rem;
    /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);*/
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.page_link{
    font-size: 1.5rem;
    color: black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


/*Bids CSS --------------------------------------------------------------*!*/

.single-item_bids {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0rem;
    padding: 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.bid-again-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: indianred;
}

.single-item_bids_image {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: scale-down;
}

.single-item_bids > .card-body{
    flex-grow:1;
}

/*LISTINGS CSS --------------------------------------------------------------*!*/

.single-item_listings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0rem;
    padding: 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.accept-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: #3eb058;
}

.checkout-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: lightskyblue;
}

.single-item_listings_image {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: scale-down;
}

.single-item_listings > .card-body{
    flex-grow:1;

}


/*HOME PAGE CSS --------------------------------------------------------------*!*!*/
.category_div_home{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gradient-custom {
/* fallback for old browsers */
background: #f6d365;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}