{% extends 'base.html' %}
{% block content %}
    <div class="items_header">
        <h1>All items</h1>
        {% include 'items/order_by_list.html' %}
    </div>
{#        {% endfor %}#}

    <div class="items_container">
        <div class="category_container">
                {% include 'items/category_list.html' with category=category %}
        </div>
        <div class="items">
            {% for item in items %}
                {% include 'items/single_item.html' with item=item %}
            {% endfor %}
        </div>
    </div>

<div class="pages">
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

      {% if items.has_previous %}
            <li class="page-item">
              <a class="page-link" href="{% url 'items-index' %}?page={{ items.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
      {%  else %}
          <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
      {% endif %}

      {% for page in items.paginator.page_range %}
          {% if page == items.number %}
             <li class="page-item active"><a class="page-link" href="{% url 'items-index' %}?page={{ page }}">{{ page }}</a></li>
          {% else %}
             <li class="page-item"><a class="page-link" href="{% url 'items-index' %}?page={{ page }}">{{ page }}</a></li>
          {% endif %}
      {% endfor %}

      {% if items.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'items-index' %}?page={{ items.next_page_number }}">Next</a>
            </li>
              {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#">Next</a>
              {% endif %}
          </ul>
</nav>
    <div>
        <p>Showing {{ items.start_index }}-{{ items.end_index }} items of {{ items.paginator.count }}</p>
    </div>
</div>




{% endblock %}