{% extends 'base.html' %}
{% block content %}
    {% if request.get_full_path == "/items/" %}
        <h1>All items</h1>
    {% else %}
        {% for category in categories %}
            {%  if category.id == current_category %}
                <h1>{{ category.name }}</h1>
            {% endif %}
        {% endfor %}
    {% endif %}
{#        {% endfor %}#}
    <div class="items_container">
        <div class="category_list">
                {% include 'items/category_list.html' with category=category %}
        </div>
        <div class="items">
            {% for item in items %}
                {% include 'items/single_item.html' with item=item %}
            {% endfor %}

        </div>
    </div>
{% endblock %}