{% extends 'base.html' %}
{% block content %}
    <div class="items_header">
    {% if request.get_full_path == "/items/" %}
        <h1>All items</h1>
            {% include 'items/order_by_list.html' %}
    {% else %}
        {% for category in categories %}
            {%  if category.id == current_category %}
                <h1>{{ category.name }}</h1>
            {% endif %}
        {% endfor %}
        {% include 'items/order_by_list.html' %}
    {% endif %}
    </div>
{#        {% endfor %}#}

    <div class="items_container">
        <div class="category_container">
                {% include 'items/category_list.html' with category=category %}
        </div>
        <div class="items">
            {% for item in items %}
                {% include 'items/single_item.html' with item=item %}
            {% endfor %}
        </div>
    </div>

<div class="pages">
    {% include 'items/pages.html' with paginator=paginator items=items categories=categories %}
</div>




{% endblock %}