{% extends 'base.html' %}
{% block content %}

    <h2>{{ item.name }}</h2>
    <p><b>Description:</b> {{ item.description }}</p>
    <p><b>Price:</b> ${{ item.price }}</p>
    <p>{{ item.location }}</p>
    <p><b>Seller:</b> {{ item.seller }} ({{ item.seller.rating }}★)</p>
    <img class="item-img" src="{{ item.image.url }}" style="width: 333px"/>

    <form class="form form-horizontal" method="post">
        {%  csrf_token %}
        {{ form }}
    <input type="submit" class="btn btn-primary" value="Submit bid">
    </form>
    <div class="similar_items">
        {% include 'items/similar_items.html' with category=category %}
    </div>

{% endblock %}