{% block content %}

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Order by:
      </button>
      <ul class="dropdown-menu" id ="order_by_menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" id="order_val" data-value="name" href="">Name</a></li>
        <li><a class="dropdown-item" id="order_val1" data-value="category" href="">Category</a></li>
        <li><a class="dropdown-item" id="order_val2" data-value="price" href="">Price: From lowest</a></li>
        <li><a class="dropdown-item" id="order_val3" data-value="-price" href="">Price: From highest</a></li>
      </ul>
    </div>

{% endblock %}