{#<div class="single-item">#}
{#    <a href="/items/{{ item.id }}">#}
{#       <img class="item-img" src="{{ item.image.url }}" width="120"/>#}
{#       <h4>{{ item.name }}</h4>#}
{#       <p>{{ item.price }}</p>#}
{#       <p>{{ item.seller }}</p>#}
{#    </a>#}
{#</div>#}

<a class = "single-item" href="/items/{{ item.id }}">
    <div class="card" style="width: 18rem; height:20rem; line-height:0.7rem;">
        <p class="single-item_category_name">{{ item.category }}</p>
        {% with item.itemimages_set.all|first as img %}
            <img class="item-preview-image" src="{{ img.image.url }}" width="120" height="100" alt="Product image" style="max-height:100px;">
        {% endwith %}
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
                {% if item.max_offer %}
                    <p class="card-text">Current bid:</p>
                    <p class="card-text" style="font-size:1.25rem; font-weight:bold;">${{ item.max_offer }}</p>
                {% else %}
                    <p class="card-text">Starting price:</p>
                    <p class="card-text" style="font-size:1.25rem; font-weight:bold;">${{ item.price }}</p>
                {% endif %}
            <p class="card-text">Listed {{ item.listdate | timesince }} ago</p>
            <p class="card-text"> Sold by: {{ item.seller }} ({{ item.seller.rating }}★)</p>
        </div>
    </div>
</a>