{#<div class="single-item">#}
{#    <a href="/items/{{ item.id }}">#}
{#       <img class="item-img" src="{{ item.image.url }}" width="120"/>#}
{#       <h4>{{ item.name }}</h4>#}
{#       <p>{{ item.price }}</p>#}
{#       <p>{{ item.seller }}</p>#}
{#    </a>#}
{#</div>#}

<a class = "single-item" href="/items/{{ item.id }}">
    <div class="card" style="width: 18rem;">
      <img class="item-preview-image" src="{{ item.image.url }}" width="120" height="200" alt="Product image">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">$ {{ item.price }}</p>
        <p class="card-text">Listed {{ item.listdate | timesince }} ago</p>
          <p class="card-text"> Sold by: {{ item.seller }}
            {% for profile in profiles %}
                {% if item.seller_id == profile.user_id %}
                    {{ profile.rating }}★
                {% endif %}
            {% endfor %}
          </p>

      </div>
    </div>
</a>