{% extends 'base.html' %}
{% block content %}
    <h1>My Listings</h1>
    <div class="items">
    {% if items %}
        {% for item in items %}
            {% include 'items/listings_cards.html' with item=item %}
        {% endfor %}
    {% else %}
        <div class="position-absolute top-50 start-50 translate-middle">
        <h2 style="text-align: center">No listings</h2>
            <a type="button" style="color: black;" class="btn btn-primary" href="{% url 'create_listing' %}">Create a listing</a>
        </div>
    {% endif %}
    </div>
{% endblock %}