<div class = "single-item_bids" href="/items/{{ bid.item.id }}" style="width: 70rem; height: 15rem">
    <div class = "single-item_bids_image" href="/items/{{ bid.item.id }}" style="width: 15rem; height: 15rem">
      {% with bid.item.itemimages_set.all|first as img %}
      <img class="item-preview-image" src="{{ img.image.url }}" width="120" height="300" alt="Product image">
      {% endwith %}
    </div>
      <div class="card-body" href="/items/{{ bid.item.id }}">
            <h5 class="card-title">{{ bid.item.name }}</h5>
                <br>
    </div>
              <div class="bid-button-container">
                  blabla
              </div>

</div>
