{% extends 'base.html' %}
{% block content %}
    <h1>Profile</h1>
    <form class="form form-horizontal" method="post">
    {% csrf_token %}
    {{ form }}

    <input type="submit" class="btn btn-bio" value="Update">

    </form>
    <p>Current profile picture:</p>
    <img src="{{ user.profiles.image.url }}" style="max-width: 100px; height: auto">
     <form method="post" enctype="multipart/form-data">
     {% csrf_token %}
         <input type="hidden" name="name" value="image">
     {{ form1 }}
     <input type="submit" class="btn btn-upload" value="Upload">
     </form>
{% endblock %}