{% extends 'base.html' %}

{% block content %}
    <div class="container">
  <div class="row">
    <div class="col-12">
        {% if validlink %}
      <h2 class="my-5">Your Email Was Verified Successfully</h2>
        Your email has been verified.
          <a href="{% url 'user-settings' %}"><input type="button" class="btn-primary"  value="Go Back To Setting"></a>
        {% else %}
        <h2 class="my-5">Not A Valid Link, Your Email Was Not Verified</h2>
      <p>
            <a href="{% url 'home:home-index' %}"><input type="button" class="btn-primary" value="Go To Home Page"></a>
        {% endif %}
      </p>
    </div>
  </div>
</div>

{% endblock %}