<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
    <div class="container">
        <a class="navbar-brand" href="/" style="color: var(--bs-orange);">FireSale</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'items-index' %}" style="margin: 11px;background: var(--bs-orange);">All Items</a>
{% if user.is_authenticated %}
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'create_listing' %}" style="margin: 11px;background: var(--bs-green);">Sell Items</a>


        <div class="search_bar_container">
            <div class="d-flex" id="search_form">
    {#            {% csrf_token %}#}
                    <select class="form-control m-auto" id="category-select" name="category-select">
                        <option value="">All Categories</option>
                        {% for category in categories %}
                            <option value={{ category.id }}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                <input class ="form-control me-2" type="search" id="search_term" placeholder="Search for an item..." name="search_term"
                       style="border-style: solid;height: 38px;margin: 6px;width: 247px;">    {# SEARCH BAR #}
                <a class="btn btn-primary" href="" id="search_button" style="margin-top: 6px;height: 38px;">Search</a>
            </div>
        </div>
 {# SEARCH BUTTON #}



    <div class="collapse navbar-collapse" id="navcol-1"></div>
        <!--<a class="btn btn-primary ms-auto" role="button" href="#" style="margin: 11px;background: var(--bs-red);">My Bids</a>
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'my-listings' %}" style="margin: 11px;background: var(--bs-green);">My Listings</a>
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'profile' %}" style="margin: 11px;">Profile<img src="{{ user.profiles.image.url }}" style="max-width: 30px; max-height: 30px"></a>-->
        <li class="nav-item dropdown" style="list-style-type: none;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ user.profiles.image.url }}" style="max-width: 43px; max-height: 43px; padding: 2px; background: dodgerblue; border-radius: 6px;">
              {{ user.username }} ({{ user.profiles.rating }}★)
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'my-listings' %}">My Listings</a></li>
            <li><a class="dropdown-item" href="{% url 'my-bids' %}">My Bids</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
        <!--<a class="btn btn-primary ms-auto" role="button" href="{% url 'logout' %}" style="margin: 11px;">Logout</a>-->
    </div>

{% else %}
    <div class="collapse navbar-collapse" id="navcol-1"></div>
        <form class="d-flex" method=POST action="{% url 'search-items' %}">
        {% csrf_token %}
        <input type="search" placeholder="Search for an item..." style="border-style: solid;height: 38px;margin: 6px;width: 247px;">    {#  SEARCH BAR #}
        <button class="btn btn-primary" type="submit" style="margin-top: 6px; margin-right: 485px; height: 38px;">Search</button>         {# SEARCH BUTTON #}
        </form>
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'login' %}" style="margin: 11px;">Login</a>
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'register' %}" style="margin: 11px;">Register</a>
    {% endif %}
</nav>




{#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#  <div class="container-fluid">#}
{#    <a class="navbar-brand" href="/">Fire Sale</a>#}
{#    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#      <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#      <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#        <li class="nav-item">#}
{#          <a class="nav-link active" aria-current="page" href="{% url 'items-index' %}">Items</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="">Link</a>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
{#  </div>#}
{#</nav>#}