<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
    <div class="container">
        <a class="navbar-brand" href="/" style="color: var(--bs-orange);">FireSale</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'items-index' %}" style="margin: 11px;background: var(--bs-orange);">All Items</a>
{% if user.is_authenticated %}
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'create_listing' %}" style="margin: 11px;background: var(--bs-green);">Sell Items</a>
        <input type="search" style="border-style: solid;height: 38px;margin: 6px;width: 247px;">    {# SEARCH BAR #}
        <button class="btn btn-primary" type="button" style="margin: -2px;">Search</button>         {# SEARCH BUTTON #}
    <div class="collapse navbar-collapse" id="navcol-1"></div>
        <a class="btn btn-primary ms-auto" role="button" href="#" style="margin: 11px;background: var(--bs-red);">My Bids</a>
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'my-listings' %}" style="margin: 11px;background: var(--bs-green);">My Listings</a>
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'profile' %}" style="margin: 11px;">Profile<img src="{{ user.profiles.image.url }}" style="max-width: 30px; max-height: 30px"></a>
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'logout' %}" style="margin: 11px;">Logout</a>
    </div>
</nav>
{% else %}
    <div class="collapse navbar-collapse" id="navcol-1"></div>
        <input type="search" style="border-style: solid;height: 38px;margin: 6px;width: 247px;">    {# SEARCH BAR #}
        <button class="btn btn-primary" type="button" style="margin: -2px;">Search</button>         {# SEARCH BUTTON #}
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'login' %}" style="margin: 11px;">Login</a>
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'register' %}" style="margin: 11px;">Register</a>
{% endif %}
    </div>
</nav>





{#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#  <div class="container-fluid">#}
{#    <a class="navbar-brand" href="/">Fire Sale</a>#}
{#    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#      <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#      <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#        <li class="nav-item">#}
{#          <a class="nav-link active" aria-current="page" href="{% url 'items-index' %}">Items</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="">Link</a>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
{#  </div>#}
{#</nav>#}