{% load static %}
<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
    <div class="container">
        <a class="navbar-brand" href="/" style="color: var(--bs-orange);"><b>FireSale</b>
        <img class="navbar-brand" src="{% static 'images/firesalenavcon.png' %}" width="50" height="50">
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'items-index' %}" style="border: none; margin: 11px;background: var(--bs-orange);">All Items</a>
        {% if user.is_authenticated %}
            <a class="btn btn-primary ms-auto" role="button" href="{% url 'create_listing' %}" style="border: none;margin: 11px;background: var(--bs-green);">Sell Items</a>

            <div class="search_bar_container">
                <div class="d-flex" id="search_form">
                    <select class="form-control m-auto" id="category-select" name="category-select" style="width: 30%" >
                        <option value="">All Categories</option>
                            {% for category in categories %}
                                <option value={{ category.id }}>{{ category.name }}</option>
                            {% endfor %}
                    </select>
                    <input class ="form-control me-2" type="search" id="search_term" placeholder="Search for an item..."
                           name="search_term" style="border-style: solid;height: 38px;margin: 6px;width: 247px;">    {# SEARCH BAR #}
                    <a class="btn btn-primary" href="" id="search_button" style="margin-top: 6px;height: 38px;">Search</a>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navcol-1"></div>
            <li class="nav-item dropdown" style="list-style-type: none;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ user.profiles.image.url }}" style="max-width: 43px; max-height: 43px; padding: 2px; background: dodgerblue; border-radius: 6px;">
                    {{ user.username }} ({{ user.profiles.rating }}★)
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'my-listings' %}">My Listings</a></li>
                    <li><a class="dropdown-item" href="{% url 'my-bids' %}">My Bids</a></li>
                    <li><a class="dropdown-item" href="{% url 'my-orders' %}">My Orders</a></li>
                    <li><a class="dropdown-item" href="{% url 'user-settings' %}">Settings</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
    </div>

{% else %}
        <div class="search_bar_container">
            <div class="d-flex" id="search_form">
    {#            {% csrf_token %}#}
                    <select class="form-control m-auto" id="category-select" name="category-select" style="width: 30%" >
                        <option value="">All Categories</option>
                        {% for category in categories %}
                            <option value={{ category.id }}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                <input class ="form-control me-2" type="search" id="search_term" placeholder="Search for an item..." name="search_term"
                       style="border-style: solid;height: 38px;margin: 6px;width: 247px;">    {# SEARCH BAR #}
                <a class="btn btn-primary" href="" id="search_button" style="margin-top: 6px;height: 38px;">Search</a>
            </div>
        </div>
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'login' %}" style="margin: 11px;">Login</a>
        <a class="btn btn-primary ms-auto" role="button" href="{% url 'register' %}" style="margin: 11px;">Register</a>
    {% endif %}
</nav>