{#{% extends "base.html" %}#}
{#{% block content %}#}
{#    {% if user.is_authenticated %}#}
{#    <form class="form form-horizontal" enctype='multipart/form-data' action="{%  url 'payment' %}" method="post">#}
{#        {%  csrf_token %}#}
{#        <h1>Review your order</h1>#}
{#        <input type=button class="btn btn-primary pull-left" value="Go Back" style="background: grey; margin: 10px" onClick="javascript:history.go(-1);">#}
{#        <input type="submit" value="Review" class="btn btn-primary pull-left" style="background: green; margin: 10px"/>#}
{#    </form>#}
{#    {% else %}#}
{#    <h1>You must be logged in to checkout</h1>#}
{#    {% endif %}#}
{#{% endblock %}#}


{% extends 'base.html' %}
{% block content %}

<h1>Review!</h1>
    <h2>Shipping Information</h2>
    <p>First Name: {{ instance.first_name }}</p>
    <p>Last Name: {{ instance.last_name }}</p>
    <p>Address 1: {{ instance.address_1 }}</p>
    <p>Address 2: {{ instance.address_2 }}</p>
    <p>City: {{ instance.city }}</p>
    <p>Zip: {{ instance.zip }}</p>
    <p>Country: {{ instance.country }}</p>
    <p>Phone: {{ instance.phone }}</p>
    <a class="checkout-button" href="{% url 'success' %}">Looks good to me!</a>

{% endblock %}